<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='images/Favicon.png') }}" type="image/x-icon">
    <!-- Bootstrap Design -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <title>Sea Home Page</title>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
        .container-fluid{
            margin-top: 120px;
        }
        .table{
            border: 1px solid black;
        }
        .thead th{
            padding: 20px 50px;
            /* text-wrap: nowrap; */
            white-space: nowrap;
            background-color: rgb(105, 165, 255);
        }
        .thead tr th{
            vertical-align:middle;
            border: 1px solid black;
            font-size: 15px;
        }
        .tbody tr{
            /* text-wrap: nowrap; */    
            white-space: nowrap;
        }
        .tbody tr td{
            vertical-align: middle; 
            border: 1px solid black;
            font-size: 15px;
            padding: 0px 5px;
        }
        .custom-form{
            max-width: 800px;
        }
        /* input[type="number"]{
            -moz-appearance: textfield;
        } */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
    </style>
</head>
<body>
    <header class="fixed-top bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static',filename='images/Logo.png')}}" width="320" height="80" alt="Company Logo">
            <a class="btn btn-danger btn-lg float-right mt-3 mr-3" onclick="return confirm('Time to say goodbye? Confirm your logout!')" title="logout" href="{{ url_for('main_bp.logout') }}" role="button"><i class="bi bi-box-arrow-left"></i></a>
        </a>
    </header>

    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table text-center" id="example">
            <thead class="thead p-2">
                <tr class="text-uppercase">
                    <th>SNO</th>
                    <th>TSV BOOKING NO</th>
                    <th>PO NUMBER</th>
                    <th>SUPPLIER NAME</th>
                    <th>CONSIGNEE</th>
                    <th>MATERIAL PICKUP DATE</th>
                    <th>ACTUAL PICKUP DATE</th>
                    <th>ETD CUSTOMER</th>
                    <th>ACTUAL ETD</th>
                    <th>ETA CUSTOMER</th>
                    <th>ACTUAL ETA</th>
                    <th>COUNTRY OF ORIGIN</th>
                    <th>PORT OF LOADING</th>
                    <th>COUNTRY OF DESTINATION</th>
                    <th>PORT OF DISCHARGE</th>
                    <th>CONTAINER TYPE</th>
                    <th>CONTAINER TYPE1</th>
                    <th>CONTAINER TYPE2</th>
                    <th>NO OF CONTAINERS</th>
                    <th>CONTAINER NUMBERS</th>
                    <th>NET WT</th>
                    <th>GRS WT</th>
                    <th>CHG WT</th>
                    <th>PKGS</th>
                    <th>PACKAGE TYPE</th>
                    <th>COMMODITY</th>
                    <th>MBL NUMBER</th>
                    <th>HBL NUMBER</th>
                    <th>SHIPPING LINER</th>
                    <th>VESSEL VOYAGE</th>
                    <th>FIRST FEEDER NAME</th>
                    <th>FIRST FEEDER IMO NO</th>
                    <th>TRANSHIPMENT 1st ETA</th>
                    <th>TRANSHIPMENT 1st ETD</th>
                    <th>TRANSHIPMENT 1st PORT NAME</th>
                    <th>MOTHER VESSEL NAME</th>
                    <th>MOTHER VESSEL IMO NO</th>
                    <th>MOTHER VESSEL ETA</th>
                    <th>MOTHER VESSEL ETD</th>
                    <th>MOTHER VESSEL PORT NAME</th>
                    <th>SECOND FEEDER NAME</th>
                    <th>SECOND FEEDER IMONO</th>
                    <th>TRANSHIPMENT 2nd ETA</th>
                    <th>TRANSHIPMENT 2nd ETD</th>
                    <th>TRANSHIPMENT 2nd PORT NAME</th>
                    <th>THIRD FEEDER NAME</th>
                    <th>THIRD FEEDER IMO NO</th>
                    <th>TRANSHIPMENT 3rd ETA</th>
                    <th>TRANSHIPMENT 3rd ETD</th>
                    <th>TRANSHIPMENT 3rd PORT NAME</th>
                    <th>PREALERT DTD</th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for seainfo in seainformation %}
                <tr class="text-uppercase">
                    <td>{{ seainfo.sno }}</td> 
                    <td>{{ seainfo.tsvbookingno }}</td>
                    <td>{{ seainfo.ponumber }}</td>
                    <td>{{ seainfo.suppliername }}</td>
                    <td>{{ seainfo.consignee }}</td>
                    <td>{{ seainfo.materialpickupdate.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.actualpickupdate.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.etdcustomer.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.actualetd.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.etacustomer.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.actualeta.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.countryoforigin }}</td>
                    <td>{{ seainfo.portofloading }}</td>
                    <td>{{ seainfo.countryofdestination}}</td>
                    <td>{{ seainfo.portofdischarge }}</td>
                    <td>{{ seainfo.containertype }}</td>
                    <td>{{ seainfo.containertype1 }}</td>
                    <td>{{ seainfo.containertype2 }}</td>
                    <td>{{ seainfo.noofcontainers }}</td>
                    <td>{{ seainfo.containernumbers }}</td>
                    <td>{{ seainfo.netwt }}</td>
                    <td>{{ seainfo.grswt }}</td>
                    <td>{{ seainfo.chgwt }}</td>
                    <td>{{ seainfo.pkgs }}</td>
                    <td>{{ seainfo.packagetype }}</td>
                    <td>{{ seainfo.commodity }}</td>
                    <td>{{ seainfo.mblnumber }}</td>
                    <td>{{ seainfo.hblnumber }}</td>
                    <td>{{ seainfo.shippingliner }}</td>
                    <td>{{ seainfo.vesselvoyage }}</td>
                    <td>{{ seainfo.firstfeedername }}</td>
                    <td>{{ seainfo.firstfeederimono }}</td>
                    <td>{{ seainfo.transhipment1steta.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.transhipment1stetd.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.transhipment1stportname }}</td>
                    <td>{{ seainfo.mothervesselname }}</td>
                    <td>{{ seainfo.mothervesselimono }}</td>
                    <td>{{ seainfo.mothervesseleta.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.mothervesseletd.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.mothervesselportname }}</td>
                    <td>{{ seainfo.secondfeedername }}</td>
                    <td>{{ seainfo.secondfeederimono }}</td>
                    <td>{{ seainfo.transhipment2ndeta.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.transhipment2ndetd.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.transhipment2ndportname }}</td>
                    <td>{{ seainfo.thirdfeedername }}</td>
                    <td>{{ seainfo.thirdfeederimono }}</td>
                    <td>{% if seainfo.transhipment3rdeta %}
                        {{ seainfo.transhipment3rdeta.strftime('%d-%m-%Y') }}
                        {% else %}
                            
                        {% endif %}
                    </td>
                    <td>{% if seainfo.transhipment3rdetd %}
                            {{ seainfo.transhipment3rdetd.strftime('%d-%m-%Y') }}
                        {% else %}
                            
                        {% endif %}
                    </td>
                    <td>{{ seainfo.transhipment3rdportname }}</td>
                    <td>{{ seainfo.prealertdtd.strftime('%d-%m-%Y') }}</td>
                    <td>{{ seainfo.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        <h6>BETA VERSION</h6>
    </div>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        // $(document).ready(function() {
        //     $('#example').DataTable();
        // });

            // Data Table Function
            $(document).ready(function() {
                $('#example').DataTable({
                    // "columns": "auto"
                });
            });

    </script>
</body>
</html>
    